<div class="container">
<% @assignments.each do |assignment| %>

<h2><%= assignment.title %><small> By <%= assignment.author %></small></h2>
<p><em><%= l(assignment.created_at, :format => :default) %></em></p>
<h4>Problem</h4>
  <p><%= assignment.problem %></p>
<h4>Solution</h4>
  <p><%= assignment.solution %></p>
<p><%= link_to 'Show', assignment %> | <%= link_to 'Edit', edit_assignment_path(assignment) %> | <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% end %>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
</div>