<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @assignment.author %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @assignment.problem %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @assignment.solution %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
